<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/nav.css"/>
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        <div class="header-menu-waper">
          <div class="logo-content">
            <p class="logo-text">PHOTOGRAFER</p>
          </div>
          <ul class="header-menu-ul">
            <li class="header-menu-li">
              <a href="../index.html" class="header-menu-link">Home</a>
            </li>
            <li class="header-menu-li">
              <a href="../pages/product.html" class="header-menu-link">Product</a>
            </li>
            <li class="header-menu-li">
              <a href="../pages/cart.html" class="header-menu-link">Cart</a>
            </li>
            <li class="header-menu-li">
              <a href="../pages/login.html" class="header-menu-link">login</a>
            </li>
            <li class="header-menu-li">
              <a href="../pages/signin.html" class="header-menu-link">sing up</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
